/**
 * Shared between mobile and desktop
 */
#about {
  background-color: $dark-blue;
  background-image: url('assets/images/rep-background.jpg');
  background-size: 300px 173px;
  background-position: center center;
}

/**
 * Desktop
 */
@media (min-width: $breakpoint1) {
  %animated { @include animated-mixin; }
  %rotateInDownLeft { @include rotateInDownLeft-mixin; }
  %rotateInDownRight { @include rotateInDownRight-mixin;}
  %rotateOutUpRight { @include rotateOutUpRight-mixin;}
  %rotateOutUpLeft { @include rotateOutUpLeft-mixin;}


  #about {
    height: 1916px;
    padding: 0 40px;

    text-align: center;

    background-color: $dark-blue;

    .background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      background-image: url('assets/images/about-background.jpg');
      background-size: cover;

      transform: translate3d(0,0,0);
    }

    hr {
      width: 80px;
      height: 5px;

      background-color: $purple;
      border: none;
    }

    .container {
      position: relative;

      height: 100%;
      padding-top: 200px;

      &:before {
        position: absolute;
        top: -36px;
        left: 50%;
        z-index: 10;

        display: block;
        content: '';
        width: 642px;
        height: 1947px;
        margin-left: -516px;

        background-image: url('assets/images/about-lines.png');
        background-size: 100%;
        background-repeat: no-repeat;
      }

      &:after {
        position: absolute;
        top: 4px;
        left: 50%;
        z-index: 11;

        display: block;
        content: '';
        width: 56px;
        height: 52px;
        margin-left: -200px;

        background-image: url('assets/images/about-plane.png');
        background-size: 100%;
        background-repeat: no-repeat;

        opacity: 0;
        transform: translate3d(0,0,0);
        transition: all .5s ease-in-out;
      }

      &.visible:after {
        opacity: 1;
        transform: translate3d(-200px,54px,0);
      }
    }

    .main {
      position: relative;
      z-index: $z-index-content;
      max-width: 760px;
      margin: 0 auto;

      color: $white;
    }

    .video{
      position: relative;
      top: 35px;
      z-index: $z-index-content;

      a{
        position: relative;
        display: inline-block;
        width: 380px;
        height: 214px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        border: 4px solid $purple;
        border-radius: 10px;
      }

      .title{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px;
        padding-left: 60px;
        height: 40px;
        -webkit-border-bottom-right-radius: 6px;
        -webkit-border-bottom-left-radius: 6px;
        -moz-border-radius-bottomright: 6px;
        -moz-border-radius-bottomleft: 6px;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        text-align: left;
        background-color: rgba($dark-blue,.90);
        background-image: url('assets/images/play_btn.png');
        background-size: 40px 40px;
        background-repeat: no-repeat;
        background-position: 10px 10px;

        opacity: 0;
        transition: all .5s ease-in-out;
      }

      h3{
        font-size: 0.8947368421em; /* 17 / 19 */
        color: $white;
        margin: 0;
      }

      h4{
        font-size: 0.7894736842em; /* 15 / 19 */
        font-weight: normal;
        color: $white;
        margin: 0;
      }

      &.visible div.title{
        opacity: 1;
      }
    }

    .bullets {
      position: absolute;
      top: 919px;
      left: 50%;
      z-index: $z-index-content;

      margin-left: -500px;

      ul {
        position: relative;

        width: 360px;
        margin: 0 auto;
        padding: 0;

        list-style-type: none;
      }

      li {
        position: absolute;
        width: 360px;

        font-size: 16px;
        line-height: 1.5;


        &.visible {

          h2{
            color: $white;
          }

          p, h3{
            opacity: 1;
          }
        }

        p{
          transition: all .5s ease-out;
          opacity: 0;
        }

        h3{
          transition: all .5s ease-out;
          opacity: 0;
          padding: 0 60px;
        }

        img{
          position: absolute;
        }

        &:nth-of-type(1) {
          top: 14px;
          left: 80px;

          h3{
            padding: 0 75px;
          }

          img{
            top: 40px;
            left: -49px;

            animation-duration: .7s;
            @extend %animated;
            @extend %rotateOutUpRight;
          }
        }

        &.visible:nth-of-type(1) {
          img{
            @extend %rotateInDownRight;
          }
        }

        &:nth-of-type(2) {
          top: 192px;
          left: 571px;

          img{
            top: 36px;
            left: -49px;

            animation-duration: .7s;
            @extend %animated;
            @extend %rotateOutUpRight;
          }
        }

        &.visible:nth-of-type(2) {
          img{
            @extend %rotateInDownRight;
          }
        }

        &:nth-of-type(3) {
          top: 507px;
          left: 79px;

          img{
            top: 42px;
            right: -49px;

            animation-duration: .7s;
            @extend %animated;
            @extend %rotateOutUpLeft;
          }
        }

        &.visible:nth-of-type(3) {
          img{
            @extend %rotateInDownLeft;
          }
        }

      }

      h2 {
        width: 230px;
        margin: 0 auto;
        padding: 15px 15px;
        text-align: center;
        font-size: 16px;

        border: 4px solid $purple;
        border-radius: 100px;
        background-color: $dark-blue;

        color: #191b26;

        transition: all .5s ease-out;
      }
    }
  }
}

/**
 * Mobile
 */
@media (max-width: $breakpoint1) {
  #about {
    height: 2085px; /* 1915px */

    .container {
      position: relative;
      padding-left: 60px;

      &:after {
        position: absolute;
        top: -25px;
        left: 0;
        z-index: $z-index-lines;

        content: '';
        width: 185px;
        height: 2209px;

        background-image: url('assets/images/mobile-about-lines2.png');
        background-size: 100%;
        background-repeat: no-repeat;
      }
    }

    hr {
      display: none;
    }

    .video{
      position: absolute;
      top: 560px;
      left: 45px;
      right: 10px;
      z-index: $z-index-content;

      a{
        position: relative;
        display: block;
        width: 100%;
        height: 210px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        border: 2px solid $purple;
        border-radius: 10px;
      }

      .title{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px;
        padding-left: 60px;
        height: 40px;
        -webkit-border-bottom-right-radius: 6px;
        -webkit-border-bottom-left-radius: 6px;
        -moz-border-radius-bottomright: 6px;
        -moz-border-radius-bottomleft: 6px;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        text-align: left;
        background-color: rgba($dark-blue,.90);
        background-image: url('assets/images/play_btn.png');
        background-size: 40px 40px;
        background-repeat: no-repeat;
        background-position: 10px 10px;
      }

      h3{
        font-size: 0.8947368421em; /* 17 / 19 */
        color: $white;
        margin: 0;
      }

      h4{
        font-size: 0.7894736842em; /* 15 / 19 */
        font-weight: normal;
        color: $white;
        margin: 0;
      }
    }

    .bullets {
      position: absolute;
      top: 728px;
      left: 50px;
      right: 0;
    }

    ul {
      position: relative;
      z-index: $z-index-content;

      margin: 0;
      padding: 0;

      list-style-type: none;
    }

    li {
      position: absolute;
      right: 20px;

      img {
        display: none;
      }

      h2,
      h3 {

        text-align: center;
      }

      h2 {
        padding: 5px;

        font-size: 14px;

        border: 2px solid $purple;
        border-radius: 100px;
        background-color: $dark-blue;
      }

      h3 {
        margin: 0 auto;
        max-width: 175px;

        font-size: 16px;
      }

      p {
        font-size: 16px;
      }

      &:nth-of-type(1) {
        top: 134px;
      }

      &:nth-of-type(2) {
        top: 576px;
      }

      &:nth-of-type(3) {
        top: 989px;
      }
    }
  }
}
