/**
 * Shared between mobile and desktop
 */
#leadership {
  position: relative;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: url('assets/images/leadership-background.jpg');
    background-size: cover;

    transform: translate3d(0,0,0);
  }

  .background-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    overflow: hidden;
  }

  .container {
    position: relative;

    &:before {
      position: absolute;
      top: 0;
      left: 50%;
      bottom: 0;

      content: '';
      width: 4px;
      margin-left: -498px;

      background-image: url('assets/images/leadership-lines.png');
      background-size: 100%;
      background-repeat: repeat-y;
    }
  }

}

/**
 * Desktop
 */
@media (min-width: $breakpoint1) {
  #leadership {

    background-color: $dark-blue;

    .background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      background-image: url('assets/images/leadership-background.jpg');
      background-size: cover;

      transform: translate3d(0,0,0);
    }

    .main {
      position: relative;
      z-index: $z-index-content;
      max-width: 760px;
      margin: 0 auto;

      color: $white;
    }

    h1 {
      text-align: center;
    }

  }
}

/**
 * Mobile
 */
@media (max-width: $breakpoint1) {
  #leadership {
    h1,
    h2 {
      text-align: center;
    }
  }
}
