/**
 * Shared between mobile and desktop
 */
#partners {
  background-color: $dark-blue;
  background-image: url('assets/images/rep-background.jpg');
  background-size: 300px 173px;
  background-position: center center;

  .bullets {
    ul {
      margin: 0;
      padding: 0;

      list-style-type: none;
    }

    li {
      position: relative;

      margin: 50px;

      &:before {
        position: absolute;
        top: 20px;
        left: -83px;

        content: '';
        width: 40px;
        height: 40px;

        background-size: 100%;
        background-image: url('assets/images/partners-bullet-icon.png');
        background-repeat: no-repeat;
      }
    }

    .content {
      margin: 20px;
    }

    h2 {
      margin: 5px 0;
      font-size: 19px;
    }

    p {
      margin: 5px 0 15px 0;
      font-size: 16px;
      color: $white;
    }
  }
}

/**
 * Desktop
 */
@media (min-width: $breakpoint1) {
  #partners {

    h1 {
      text-align: center;
    }

    .container {
      position: relative;
      height: 1542px;
      padding-top: 100px;

       &:after {
        position: absolute;
        top: -36px;
        left: 50%;
        z-index: 11;

        display: block;
        content: '';
        width: 533px;
        height: 1740.5px;
        margin-left: -498px;

        background-image: url('assets/images/partners-lines.png');
        background-size: 100%;
        background-repeat: no-repeat;
      }
    }

    .bullets {
      position: absolute;
      left: 50%;
      top: 223px;
      z-index: ($z-index-content + 5);
      margin-left: -150px;
    }

  }
}

/**
 * Mobile
 */
@media (max-width: $breakpoint1) {
  #partners {
    .container {
      position: relative;
      height: 1442px;
      padding-left: 60px;

      &:after {
        position: absolute;
        top: -25px;
        left: -10px;
        z-index: $z-index-lines;

        content: '';
        width: 87.5px;
        height: 1467px;

        background-image: url('assets/images/mobile-partners-lines.png');
        background-size: 100%;
        background-repeat: no-repeat;
      }
    }

    .bullets {
      position: relative;
      z-index: $z-index-content;

      top: 15px;

      li {
        margin-right: 20px;

        &:before {
          left: -49px;

          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
