/**
 * Shared between mobile and desktop
 */
#approach {
  position: relative;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: url('assets/images/approach-background.jpg');
    background-size: cover;

    transform: translate3d(0,0,0);
  }

  .background-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    overflow: hidden;
  }
}

/**
 * Desktop
 */
@media (min-width: $breakpoint1) {
  %animated { @include animated-mixin; }
  %bounceInUp { @include bounceInUp-mixin; }
  %bounceOut { @include bounceOut-mixin; }


  #approach {
    height: 728px;

    h2 {
      color: $yellow;
    }

    .container {
      position: relative;
      height: 100%;
    }

    .main,
    .bullets {
      display: flex;
      flex-direction: column;
      justify-content: center;

      height: 100%;
      width: 50%;
    }

    .main {
      box-sizing: border-box;
      width: 50%;
      padding-right: 20px;
      text-align: right;
    }

    .bullets {
      position: absolute;
      top: 0;
      left: 50%;

      &:after {
        position: absolute;
        top: -30px;
        left: -25px;

        display: block;
        content: '';
        width: 211px;
        height: 758px;

        background-image: url('assets/images/approach-lines.png');
        background-size: 100%;
        background-repeat: no-repeat;
      }

      ul {
        margin: 0;
        margin-left: 158px;
        padding: 0 50px;

        list-style-type: none;
        overflow: hidden;
      }

      li {
        position: relative;
        z-index: $z-index-content;

        margin: 50px 0;

        font-size: 16px;

        .content {
          margin-left: 20px;
          opacity: 0;
          transform: translate3d(-20px,0,0);
          transition: all .7s;
        }

        &.visible .content {
          opacity: 1;
          transform: translate3d(0,0,0);
        }

        &:before {
          position: absolute;
          top: 0;
          left: -45px;

          content: '';
          width: 40px;
          height: 40px;

          background-size: 100%;

          animation-duration: 1.2s;
          @extend %animated;
          @extend %bounceOut;
        }

        &.visible:before {
          @extend %bounceInUp;
        }

        &:nth-of-type(1):before {
          background-image: url('assets/images/approach-bullet-1-icon.png');
        }

        &:nth-of-type(2):before {
          background-image: url('assets/images/approach-bullet-2-icon.png');
        }

        &:nth-of-type(3):before {
          background-image: url('assets/images/approach-bullet-3-icon.png');
        }

        h2 {
          font-size: 30px;
        }
      }

      h2,
      p {
        margin: 5px 0;
      }
    }
  }
}

/**
 * Mobile
 */
@media (max-width: $breakpoint1) {
  #approach {
    height: 900px;

    .container {
      position: relative;
      padding-left: 60px;

      &:after {
        position: absolute;
        top: -25px;
        left: 0;
        z-index: $z-index-lines;

        content: '';
        width: 91.5px;
        height: 952.5px;

        background-image: url('assets/images/mobile-approach-lines.png');
        background-size: 100%;
        background-repeat: no-repeat;
      }
    }

    h2 {
      margin: 5px 0;
      color: $yellow;
      font-size: 20px;
    }

    .bullets {
      position: absolute;
      top: 450px;
      left: 60px;
      right: 0;
    }

    ul {
      margin: 0;
      padding: 0;

      list-style-type: none;
    }

    li {
      position: absolute;
      left: 40px;

      &:nth-of-type(1) {
        top: 34px;
      }

      &:nth-of-type(2) {
        top: 171px;
      }

      &:nth-of-type(3) {
        top: 314px;
      }

      p {
        margin: 0;
        font-size: 15px;
        line-height: 1.2;
      }
    }
  }
}
