$section-background-color: rgb(242,197,114);

.front-page-section {
  min-height: 600px;
  padding: 0 40px;

  @media (max-width: $breakpoint1) {
    padding: 0 10px;
  }

  .container {
    box-sizing: border-box;
    padding: 40px 0;

    & > * {
      z-index: $z-index-content;
    }

    @media (max-width: $breakpoint1) {
      padding: 10px 0;
    }
  }

  .main p {
    color: $white;
  }
}

@import "front-page-intro";
@import "front-page-about";
@import "front-page-approach";
@import "front-page-partners";
@import "front-page-leadership";
@import "front-page-careers";
@import "front-page-job-openings";
@import "front-page-contact";
