/**
 * Shared between mobile and desktop
 */
#careers {
  background-color: $dark-blue;
  background-image: url('assets/images/rep-background.jpg');
  background-size: 300px 173px;
  background-position: center center;

  .highlight {
    color: $green;
  }
}

/**
 * Desktop
 */
@media (min-width: $breakpoint1) {
  %animated { @include animated-mixin; }
  %bounceInUp { @include bounceInUp-mixin; }
  %bounceOut { @include bounceOut-mixin; }
  %rotateOutDownRight { @include rotateOutDownRight-mixin; }
  %rotateInUpRight { @include rotateInUpRight-mixin; }


  #careers {
    position: relative;

    .container {
      position: relative;

      height: 1300px;

       &:after {
        position: absolute;
        top: 0;
        left: 50%;
        bottom: 0;
        z-index: $z-index-lines;

        display: block;
        content: '';
        width: 532px;
        height: 1328px;
        margin-left: -499px;

        background-image: url('assets/images/why-lines.png');
        background-size: 100%;
        background-repeat: no-repeat;
      }
    }

    .graphic {
      position: absolute;
      top: 167px;
      left: 50%;
      margin-left: -280px;

      animation-duration: .7s;
      @extend %animated;
      @extend %rotateOutDownRight;

      &.visible {
        @extend %rotateInUpRight;
      }
    }

    .main {
      position: absolute;
      top: 170px;
      left: 50%;

      margin-left: 20px;
    }

    .bullets {
      position: absolute;
      top: 630px;
      left: 50%;

      margin-left: 20px;

      color: $grey;

      p {
        margin: 50px 0;
      }

      ul {
        margin: 0;
        padding: 0;

        list-style-type: none;
        overflow: hidden;
        position: relative;
        left: -40px;
      }

      li {
        position: relative;
        z-index: $z-index-content;

        width: 320px;
        margin-left: 60px;

        .content {
          opacity: 0;
          transform: translate3d(-20px,0,0);
          transition: all .7s;
        }

        &.visible .content {
          opacity: 1;
          transform: translate3d(0,0,0);
        }

        &:before {
          position: absolute;
          top: 0;
          left: -57px;

          content: '';
          width: 40px;
          height: 40px;

          background-size: 100%;

          animation-duration: 1.2s;
          @extend %animated;
          @extend %bounceOut;
        }

        &:nth-of-type(1):before {
          background-image: url('assets/images/careers-bullet-1-icon.png');
        }

        &:nth-of-type(2):before {
          background-image: url('assets/images/careers-bullet-2-icon.png');
        }

        &:nth-of-type(3):before {
          background-image: url('assets/images/careers-bullet-3-icon.png');
        }

        &.visible:before {
          @extend %bounceInUp;
        }
      }
    }

    .reasons {
      position: absolute;
      top: 730px;
      left: 50%;
      z-index: $z-index-content;

      width: 400px;
      margin-left: -475px;

      color: $grey;
      font-weight: normal;

      h3 {
        font-size: 19px;
      }

      ul {
        margin: 0;
        padding: 0;

        list-style-type: none;

        &.visible li{
          opacity: 1;
          transform: translate3d(0,0,0);

          &:nth-child(1){ transition-delay: 0.1s; }
          &:nth-child(2){ transition-delay: 0.2s; }
          &:nth-child(3){ transition-delay: 0.3s; }
          &:nth-child(4){ transition-delay: 0.4s; }
          &:nth-child(5){ transition-delay: 0.5s; }
          &:nth-child(6){ transition-delay: 0.6s; }
          &:nth-child(7){ transition-delay: 0.7s; }
          &:nth-child(8){ transition-delay: 0.8s; }
          &:nth-child(9){ transition-delay: 0.9s; }
          &:nth-child(10){ transition-delay: 1s; }
          &:nth-child(11){ transition-delay: 1.1s; }
          &:nth-child(12){ transition-delay: 1.2s; }
          &:nth-child(13){ transition-delay: 1.3s; }
          &:nth-child(14){ transition-delay: 1.4s; }
          &:nth-child(15){ transition-delay: 1.5s; }
          &:nth-child(16){ transition-delay: 1.6s; }
          &:nth-child(17){ transition-delay: 1.7s; }
          &:nth-child(18){ transition-delay: 1.8s; }
        }
      }

      li {
        position: relative;
        margin: 20px 0;

        opacity: 0;
        transform: translate3d(0,40px,0);
        transition: all .7s ease-out;

        &:before {
          position: absolute;
          top: 4px;
          left: -30px;

          content: '';
          width: 15px;
          height: 15px;

          background-image: url('assets/images/careers-bullet-reason-icon.png');
          background-size: 100%;
        }
      }
    }
  }
}

/**
 * Mobile
 */
@media (max-width: $breakpoint1) {
  #careers {
    height: 1382px;

    .container {
      position: relative;
      padding-left: 60px;

      &:after {
        position: absolute;
        top: 0;
        left: -10px;
        z-index: $z-index-lines;

        content: '';
        width: 101.5px;
        height: 1382px;

        background-image: url('assets/images/mobile-careers-lines.png');
        background-size: 100%;
        background-repeat: no-repeat;
      }
    }

    .graphic {
      display: none;
    }

    h2 {
      font-size: 18px;
    }

    .bullets {
      position: absolute;
      top: 375px;
      left: 60px;
      right: 0;

      h2 {
        margin: 0;
      }

      ul {
        position: absolute;
        top: 144px;
        left: 0;
        right: 0;

        height: 430px;
        margin: 0;
        padding: 0;

        list-style-type: none;
      }

      li {
        position: absolute;
        left: 40px;

        &:nth-of-type(1) {
          top: 106px;
        }

        &:nth-of-type(2) {
          top: 217px;
        }

        &:nth-of-type(3) {
          top: 328px;
        }
      }
    }

    .reasons {
      position: absolute;
      top: 975px;
      left: 50px;

      h3 {
        font-size: 18px;
      }

      ul {
        margin: 0;
        padding: 0;

        list-style-type: none;
      }

      li {
        position: relative;
        margin: 10px 0;
        font-size: 16px;

        &:before {
          position: absolute;
          top: 6px;
          left: -25px;

          content: '';
          width: 7.5px;
          height: 7.5px;

          background-image: url('assets/images/mobile-careers-bullet-icon.png');
          background-size: 100%;
        }
      }
    }
  }
}
