/**
 * Shared between mobile and desktop
 */
#job-openings {
  background-color: #191b26;
  background-image: url('assets/images/job-openings-background.jpg');
  background-position: center top;
  background-size: cover;

  ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    margin-bottom: 10px;

    @include clearfix;
  }

  li {
    float: left;
    width: 33.33333333333333%;
    height: 75px;

    a {
      position: relative;
      margin: 0 15px 20px;
      display: block;

      .text {
        text-align: center;
      }

      &:hover:after {
        position: absolute;
        top: 9px;
        right: 10px;
        z-index: 999;

        content: '';
        width: 26px;
        height: 26px;

        background-image: url('assets/images/job-openings-download-icon.png');
        background-size: 100%;
      }
    }
  }

  .button-contact-us {
    position: relative;
    padding: 10px 35px 10px 15px;

    color: $white;
    text-decoration: none;

    border-radius: 100px;
    background-color: $green;

    &:after {
      position: absolute;
      top: 20px;
      right: 15px;

      content: '';
      width: 13px;
      height: 7px;

      background-image: url('assets/images/arrow-down.png');
      background-size: 100%;
      background-repeat: none;
    }
  }
}

/**
 * Desktop
 */
@media (min-width: $breakpoint1) {
  #job-openings {
    position: relative;

    height: 900px;


    .container:after {
      position: absolute;
      top: -1px;
      bottom: -1px;
      left: 50%;
      z-index: 0;
      display: block;
      content: '';
      width: 5px;
      height: 100%;
      margin-left: -499px;
      background-image: url('assets/images/job-openings-lines.png');
      background-size: 100%;
      background-repeat: no-repeat;
    }

    .main {
    	margin: 0 60px;
    	margin-top: 50px;
    	text-align: center;
    }

    h1 {
      max-width: 430px;
    	margin: 0 auto;
    }

    p {
    	margin: 30px 80px;
    }
  }
}

/**
 * Mobile
 */
@media (max-width: $breakpoint1) {
  #job-openings {
    .container {
      position: relative;
      padding-left: 50px;
      padding-right: 10px;
      padding-bottom: 50px;

      &:after {
        position: absolute;
        top: 0;
        left: 21px;
        bottom: 0;
        z-index: $z-index-lines;

        content: '';
        width: 2px;

        background-image: url('assets/images/mobile-job-openings-lines.png');
        background-size: 100%;
      }
    }

    li {
      width: 100%;

      a {
        margin: 0;
      }
    }

    .button-contact-us {
      display: block;
      text-align: center;
    }
  }
}
