/**
 * Shared between mobile and desktop
 */
#contact {
  .address {
    position: relative;

    width: 240px;
    padding: 20px;

    color: $grey2;
    font-weight: normal;
    font-size: 16px;

    background: #fff;
    border-radius: 11px;

    .contact-info {
      margin-top: 20px;
      margin-left: -20px;
      margin-right: -20px;
      margin-bottom: -20px;
      padding: 20px 20px;

      background-color: $purple;
      border-bottom-left-radius: 11px;
      border-bottom-right-radius: 11px;

      a {
        color: $white;
        font-size: 16px;
        line-height: 2;
        font-weight: bold;
      }

      .tel {
        position: relative;
        padding-left: 22px;

        &:before {
          position: absolute;
          top: -1px;
          left: 0;

          content: '';
          width: 14px;
          height: 20px;

          background-image: url('assets/images/contact-icon-tel.png');
          background-size: 100%;
        }
      }

      .email {
        position: relative;
        padding-left: 22px;

        &:before {
          position: absolute;
          top: 4px;
          left: -2px;

          content: '';
          width: 18px;
          height: 13px;

          background-image: url('assets/images/contact-icon-email.png');
          background-size: 100%;
        }
      }
      p {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    &.visible {
      opacity: 1;
      transform: translate3d(0,0,0);
    }

    &:after{
      position: absolute;
      top: -10px;
      left: 50%;
      z-index: 0;
      display: block;
      content: '';
      width: 40px;
      height: 20px;
      margin-left: -20px;
      background-image: url('assets/images/contact-address-corner.png');
      background-size: 100%;
      background-repeat: no-repeat;
    }

    .purple {
      color: $purple;
    }

    p {
      margin: 0.67em 0;

      &.indent {
        margin-left: 8px;
      }
    }

    a{
      color: #636D9F;
      text-decoration: none;
    }
  }
}

/**
 * Desktop
 */
@media (min-width: $breakpoint1) {
  %animated { @include animated-mixin; }
  %infinite { @include infinite-mixin; }
  %pulse { @include pulse-mixin; }

  #contact {
    position: relative;
    height: 766px;
    color: #fff;
    background-color: #191b26;
    background-image: url('assets/images/contact-background.jpg');
    background-position: center top;
    background-repeat: no-repeat;

    &:after{
      position: absolute;
      top: 0;
      left: 0;
      z-index: $z-index-base;
      display: block;
      content: '';
      width: 174px;
      height: 100%;
      margin-left: 0;
      background-image: url('assets/images/contact-map-gradient.png');
      background-size: 100%;
      background-repeat: no-repeat;
    }

    .container {
      padding-left: 0;
    }

    .container:before {
      position: absolute;
      top: 354px;
      left: 50%;
      z-index: $z-index-lines;
      display: block;
      content: '';
      width: 60px;
      height: 60px;
      margin-left: -385px;
      background-image: url('assets/images/contact-dot.png');
      background-size: 100%;
      background-repeat: no-repeat;

      @extend %animated;
      @extend %infinite;
      @extend %pulse;
    }

    .container:after {
      position: absolute;
      top: -1px;
      left: 50%;
      z-index: $z-index-lines;
      display: block;
      content: '';
      width: 146px;
      height: 357px;
      margin-left: -499px;
      background-image: url('assets/images/contact-lines.png');
      background-size: 100%;
      background-repeat: no-repeat;
    }

    .address {
      top: 400px;
      left: 50%;

      margin-left: -495px;

      opacity: 0;
      transform: translate3d(0,40px,0);
      transition: all .7s ease-out;
    }

    div.form{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 45%;
      padding: 20px 40px 0;
      background: rgba(25,27,38,.9);

      h1{
        margin-bottom: 0;
      }

      form p{
        padding: 0;
        margin: 0;
        margin-bottom: 10px;
      }
    }

    p{
      width: 67%;
      margin-bottom: 40px;
    }

    input[type=text]{
      height: 60px;
      width: 360px;
      padding: 0 20px;
      border: 2px solid #fff;
      border-radius: 30px;
      background: none;
      outline: none;
    }

    input[type=text].wpcf7-not-valid{
      border-color: #D7913D;
    }

    .wpcf7-not-valid-tip{
      display: none;
    }

    input[type=submit]{
      height: 50px;
      padding: 0 30px;
      margin-top: 10px;
      border: 0;
      border-radius: 25px;
      background: #D7913D;
      outline: none;
    }

    .wpcf7-response-output{
      border: 0;
      background: #fff;
      font-size: 14px;
      text-align: center;
      border-radius: 5px;
      margin: 0;
      margin-top: 20px;
      padding: 10px;
      color: #191B26;
      width: 380px;
    }
  }
}

/**
 * Mobile
 */
@media (max-width: $breakpoint1) {
  #contact {
    .container {
      position: relative;

      height: 1000px;
      padding-left: 50px;
      padding-right: 10px;

      &:before {
        position: absolute;
        top: 656px;
        left: -10px;
        bottom: 0;
        right: -10px;
        z-index: $z-index-lines;

        content: '';
        background-image: url('assets/images/mobile-contact-map.png');
        background-size: 100%;

        animation-name: none;
      }

      &:after {
        position: absolute;
        top: 0;
        left: 21px;
        z-index: $z-index-lines;

        content: '';
        width: 174px;
        height: 964px;

        background-image: url('assets/images/mobile-contact-lines.png');
        background-size: 100%;
        background-repeat: no-repeat;
      }
    }

    .address {
      position: absolute;
      bottom: 75px;

      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding: 5px;

      text-align: center;

      &:after {
        top: inherit;
        bottom: -10px;

        transform: rotate(180deg);
      }

      p {
        &:nth-of-type(1) {
          order: 2;
        }

        &:nth-of-type(2) {
          order: 1;
        }
      }

      .contact-info {
        order: 0;
        margin-top: -5px;
        margin-left: -5px;
        margin-right: -5px;
        margin-bottom: 5px;

        padding: 5px;

        border-top-left-radius: 11px;
        border-top-right-radius: 11px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .form {
      position: relative;
      z-index: $z-index-content;
    }

    .form p {
      color: $white;
      margin: 10px 0;
    }

    input[type="text"] {
      box-sizing: border-box;
      width: 100%;
      height: 60px;
      padding: 0 20px;

      border: 2px solid #fff;
      border-radius: 30px;
      background: none;
      outline: none;
    }

    input[type=submit]{
      height: 50px;
      padding: 0 30px;
      margin-top: 10px;
      border: 0;
      border-radius: 25px;
      background: #D7913D;
      outline: none;
    }

    .wpcf7-response-output{
      border: 0;
      background: rgba(255,255,255,.9);
      font-size: 14px;
      text-align: center;
      border-radius: 5px;
      margin: 0;
      margin-top: 20px;
      padding: 10px;
      color: #191B26;
    }

    .wpcf7-not-valid-tip{
      display: none;
    }
  }
}
