#intro {
  position: relative;
  height: 100%;
  min-height: 800px;

  overflow: hidden;

  @media (max-width: $breakpoint1) {
    min-height: 0;
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-index-background;

    background-image: url('assets/images/intro-background.jpg');
    background-size: cover;

    transform: translate3d(0,0,0);
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0;
  }

  color: $white;

  h1 {
    margin: 0;

    font-size: 84px;
    font-weight: 300;
    text-transform: uppercase;

    img {
      position: relative;
      top: 3px;
      animation-duration: 1.0s;
      @extend .animated;
      @extend .tada;
    }

    @media (max-width: $breakpoint1) {
      font-size: 38px;
    }
  }

  .button-next {
    position: absolute;
    bottom: 80px;
    left: 50%;

    margin-left: (100px / -2);

    .text {
      padding-right: 35px;

      &:after {
        position: absolute;
        top: 18px;
        right: 15px;

        content: '';
        width: 13px;
        height: 7px;

        background-image: url('assets/images/arrow-down.png');
        background-size: 100%;
        background-repeat: none;
      }
    }

    &:hover .text:after {
      background-image: url('assets/images/arrow-down-blue.png');
    }

    @media (max-width: $breakpoint1) {
      display: none;
    }
  }

  .cloud {
    width: 123px;
    height: 78px;

    visibility: hidden;

    @media (max-width: $breakpoint1) {
      width: 55.5px;
      height: 35px;
    }

    &.visible {
      visibility: visible;
    }
  }
}
