#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: $z-index-nav;

  height: 60px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;

  transition: background-color .2s;
  transform: translateZ(0);

  &.solid {
    position: fixed;
    top: 0;
    padding-top: 0;

    background-color: rgba($dark-blue,.95);
  }

  @media (max-width: $breakpoint1) {
    position: fixed;
    top: 0;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;

    background-color: rgba($dark-blue,.95);
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  // Logo
  .logo {
    vertical-align: middle;
    width: 130px;
    height: 58px;

    @media (max-width: $breakpoint1) {
      width: 90px;
      height: 41px;
    }
  }

  &.solid .logo {
    width: 90px;
    height: 41px;
  }

  // Menu
  .menu {
    margin-left: 100px;

    ul {
      margin: 0;
      padding: 0;

      list-style-type: none;
    }

    li {
      float: left;
      height: 60px;
      padding: 0 5px;

      line-height: 60px;
    }

    a {
      color: $white;
      text-decoration: none;
      background: none;
      padding: 8px 20px;
      border-radius: 100px;
      transition: background .2s;

      &:hover {
        background: $purple;
      }
    }

    @media (max-width: $breakpoint1) {
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;

      height: 0;
      overflow: hidden;

      background-color: rgba($dark-blue,.95);

      transition: height 0.2s;

      ul {
        position: absolute;
        bottom: 0;
      }

      li {
        float: none;
      }

      a:hover {
        background: transparent;
      }
    }
  }

  &.solid .menu {
    .active {

      a {
        background: $white;
        color: $dark-blue;
      }
    }
  }

  .button,
  button {
    display: inline-block;
    height: 35px;
    padding: 0;
    border: none;
    border-radius: 100px;
    background-color: $white;
    outline: none;

    font-weight: 300;
    font-size: 12px;
    color: $dark-blue;
    line-height: 32px;
    text-align: center;

    img {
      vertical-align: middle;
    }
  }

  a.button {
    width: 35px;
  }

  button {
    width: 75px;
  }

  @media (min-width: $breakpoint1) {
    .mobile-buttons {
      display: none;
    }
  }
}

#branding {
  line-height: 55px;
}
