.leadership-people {
  margin: 50px 0;

  h2 {
    font-size: 20px;
    font-weight: normal;

    @media (max-width: $breakpoint1) {
      text-align: center;
    }
  }

  ul {
    margin: 0;
    margin-bottom: 50px;
    padding: 0;

    list-style-type: none;

    @include clearfix;
  }

  li {
    float: left;

    width: 150px;
    margin: 0 20px;

    text-align: center;

    @media (max-width: $breakpoint1) {
      float: none;
      margin: 20px auto;
    }

    @media (min-width: $breakpoint1) {
      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .avatar {
    width: 130px;
    height: 130px;

    margin-bottom: 5px;

    border: 4px solid $white;
    border-radius: 130px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: $dark-blue;
  }

  .active .avatar {
    position: relative;

    border-color: $green;

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      content: '';

      background-color: rgba($green, .25);
      border-radius: 130px;
    }
  }

  .name {
    color: $green;
    font-weight: bold;
    font-size: 19px;
  }

  .title {
    font-size: 15px;
  }

  a {
    text-decoration: none;
    color: $white;
  }
}

.leadership-card {
  display: flex;
  flex-wrap: wrap;

  h2 {
    margin: 0;
  }

  .title {
    margin: 0 0 20px 0;
    color: $green;
  }
}

.leadership-card-column-left {
  width: 240px;
  margin-right: 60px;

  img {
    margin-bottom: 10px;
  }
}

.leadership-card-column-right {
  flex: 1;
  min-width: 240px;
}
