section.page {
  min-height: 300px;
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: $dark-blue;
  background-image: url('assets/images/rep-background.jpg');
  background-size: 300px 173px;
  background-position: center center;

  @media (max-width: $breakpoint1) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.content-block {
  padding: 60px;
  background-color: $white;
  color: $dark-blue;

  @media (max-width: $breakpoint1) {
    padding: 20px;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $dark-blue;
  }
}
