$white    : rgb(255,255,255);
$grey     : rgb(191,182,175);
$grey2    : rgb(115,110,106);
$dark-blue: rgb(25,27,38);
$yellow   : rgb(215,145,61);
$red      : rgb(201,18,75);
$green    : rgb(63,202,156);
$purple   : rgb(99,109,159);
