@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/Lato-Black.eot'); /* IE9 Compat Modes */
  src: url('assets/fonts/Lato-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/Lato-Black.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/Lato-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/Lato-Black.svg#deafb22e0fea74c18abc97a942bb621e') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  900;
}

@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/Lato-BlackItalic.eot'); /* IE9 Compat Modes */
  src: url('assets/fonts/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/Lato-BlackItalic.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/Lato-BlackItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/Lato-BlackItalic.svg#6b8da3d2951ae28f306d4067aff6fc5c') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  900;
}

@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/Lato-Bold.eot'); /* IE9 Compat Modes */
  src: url('assets/fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/Lato-Bold.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/Lato-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/Lato-Bold.svg#eea591db52cf6ebc8992abb7621b9256') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/Lato-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('assets/fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/Lato-BoldItalic.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/Lato-BoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/Lato-BoldItalic.svg#030f5996dac0d7b15fbd4081adedf95b') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  700;
}

@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/Lato-Hairline.eot'); /* IE9 Compat Modes */
  src: url('assets/fonts/Lato-Hairline.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/Lato-Hairline.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/Lato-Hairline.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/Lato-Hairline.svg#477d11e773543baa2ffc5ab40fca9623') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/Lato-HairlineItalic.eot'); /* IE9 Compat Modes */
  src: url('assets/fonts/Lato-HairlineItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/Lato-HairlineItalic.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/Lato-HairlineItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/Lato-HairlineItalic.svg#a326329371e687b71c219b7d91fb9255') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  200;
}

@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
  src: url('assets/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/Lato-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/Lato-Regular.svg#48e70b8825d557df57af3e4f7d4c31be') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/Lato-Italic.eot'); /* IE9 Compat Modes */
  src: url('assets/fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/Lato-Italic.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/Lato-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/Lato-Italic.svg#51ac4eb0bc1817d276ca824c5353e08f') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/Lato-Light.eot'); /* IE9 Compat Modes */
  src: url('assets/fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/Lato-Light.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/Lato-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/Lato-Light.svg#80d8021909d835b751af094d043ad177') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  300;
}

@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/Lato-LightItalic.eot'); /* IE9 Compat Modes */
  src: url('assets/fonts/Lato-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/Lato-LightItalic.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/Lato-LightItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/Lato-LightItalic.svg#7015aa8810c4a9d1026a85e4ddcdf7a4') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  300;
}

@font-face {
  font-family: 'TisaPro';
  src: url('assets/fonts/TisaPro-Bold.eot'); /* IE9 Compat Modes */
  src: url('assets/fonts/TisaPro-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/TisaPro-Bold.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/TisaPro-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/TisaPro-Bold.svg#4caee0dc85eea26155563f2547b3cab2') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'TisaPro';
  src: url('assets/fonts/TisaPro-BoldIta.eot'); /* IE9 Compat Modes */
  src: url('assets/fonts/TisaPro-BoldIta.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/TisaPro-BoldIta.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/TisaPro-BoldIta.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/TisaPro-BoldIta.svg#f3a9bd3e26d08bd3232e54986a7ada94') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  700;
}

@font-face {
  font-family: 'TisaPro';
  src: url('assets/fonts/TisaPro-Regular.eot'); /* IE9 Compat Modes */
  src: url('assets/fonts/TisaPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/TisaPro-Regular.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/TisaPro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/TisaPro-Regular.svg#1c75379f9eaf2b315da3fa7da3f76cdf') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'TisaPro';
  src: url('assets/fonts/TisaPro-Ita.eot'); /* IE9 Compat Modes */
  src: url('assets/fonts/TisaPro-Ita.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/TisaPro-Ita.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/TisaPro-Ita.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/TisaPro-Ita.svg#f7fb7fd15311a2a526a966bbc4e3840b') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'TisaPro';
  src: url('assets/fonts/TisaPro-Medi.eot'); /* IE9 Compat Modes */
  src: url('assets/fonts/TisaPro-Medi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/TisaPro-Medi.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/TisaPro-Medi.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/TisaPro-Medi.svg#56963d70db2b07c07e3f3401fc648b24') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  600;
}

@font-face {
  font-family: 'TisaPro';
  src: url('assets/fonts/TisaPro-MediIta.eot'); /* IE9 Compat Modes */
  src: url('assets/fonts/TisaPro-MediIta.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/TisaPro-MediIta.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/TisaPro-MediIta.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/TisaPro-MediIta.svg#cdb54234d39136b6b64cc9c3aeafc92c') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  600;
}

