/*!
Theme Name: Avionos
Author: Concept M
Author URI: http://www.conceptm.nl
Description: Custom Wordpress theme for Avionos, based on BlankSlate
Version: 0.1.0
Text Domain: avionos
*/

@import "vendor/animate";
@import "vendor/normalize";
@import "vendor/wordpress";
@import "vendor/magnific-popup/main";
@import "animations";
@import "breakpoints";
@import "colors";
@import "fonts";
@import "mixins";
@import "z-indexes";
@import "wpcf7-fixes";

html,
body,
#wrapper {
  height: 100%;
}

body {
  position: relative;

  color: $grey;
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 19px;

  background-color: $dark-blue;
}

h1,
h2,
h3,
b {
  color: $white;
}

h1 {
  font-size: 49px;

  @media (max-width: $breakpoint1) {
    font-size: 25px;
  }
}

p {
  line-height: 1.6;

  @media (max-width: $breakpoint1) {
    line-height: 1.2;
    font-size: 18px;
  }
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

/* animated button (contains span.text & span.mask)*/
.button-animated {
  position: relative;

  color: $white;
  text-decoration: none;

  border: 2px solid $white;
  border-radius: 100px;

  .text {
    display: block;
    position: relative;
    z-index: 2;
    transition: all 0.2s;
    height: 40px;
    line-height: 40px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .mask {
    display: flex;
    position: absolute;
    z-index: 1;
    top: -1px;
    left: -1px;
    right: -1px;
    height: 1px;
    transition: all 0.2s;
    overflow: hidden;

    &:after {
      position: absolute;
      top: 0;
      right: 0;

      content: '';
      width: 100%;
      height: 46px;
      border-radius: 100px;
      background: $white;
    }
  }

  &:hover {
    .text {
      color: $dark-blue;
    }

    .mask {
      height: 46px;
    }
  }
}

footer {
  padding: 20px;
  font-size: 14px;
  text-align: center;
  background: $dark-blue;
  color: $white;
}

.contact-us-fixed {
  position: fixed;
  right: 100px;
  bottom: 0;
  z-index: 99999999999999999999999999999999999999999999999999;

  padding: 15px 20px;

  color: $dark-blue;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;

  background-color: $white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  transform: translate3d(0,0,0);
  transition: transform .5s;

  &.hidden {
    transform: translate3d(0,100px,0);
  }

  @media (max-width: $breakpoint1) {
    display: none;
  }
}

@import "components/front-page";
@import "components/header";
@import "components/leadership";
@import "components/page";
